@charset "UTF-8";
/* CSS Document */
body{padding: 0; margin: 0; font-family: "Lato",sans-serif;}
.celebration_container{width: 100%; margin: 0 auto; padding: 0; position: relative;}
.celebration {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 600px;
    border: 10px solid #464444;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); top: 30px;
    border-radius: 10px; background: #fff;
}
.close_btn{position: absolute;
    border-radius: 100px;
    padding: 12px 17px;
    background: #ffffff;
    font-size: 23px;
    color: #868686;
    right: -15px;
    border: 1px solid #ffffff;
    top: -17px;
    z-index: 999;
    box-shadow: 1px 2px 9px -3px #000 !important;
    cursor: pointer;
    font-weight: bold;}
    
    .bottom_heading{position: absolute;
      bottom: 50px;
      display: block;
      width: 100%;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #dc8e00;}
    .top_heading{color: #ff0000;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      top: 20px;
      font-size: 22px;
      font-weight: bold;}

    .Imgresolution{width:600px; height:450px;}
.top_text{position:absolute;top: 0;left: 20px;font-size: 14px;width: 330px;}
.top_hd{width:100%;display:block;padding: 10px 0 9px 0;font-size: 24px;text-align: left;color: #3a7ed2dd;}
.sub_hd{display: block;
        padding: 0 0 3px 0;
        font-size: 16px;
        text-align: left;
        color: #ff6e08;}
.sub_hd > em{width:100px;display: inline-block;font-style: normal;/* color: #ddd; */}
.cust_name{ display: block;
        font-size: 16px;
        text-align: left;
        color: #ff6e08;}
.cust_name > em{width:100px;display: inline-block;font-style: normal;}




	ul.winner_list{    position: absolute;
    left:19%;
    top: 31%;
    color: #4991ab;
    overflow: hidden;
    width: 60%;
    box-sizing: border-box;}
		
		ul.winner_list li{    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    display: block;
    line-height: 34px;
    text-align: center;}
		ul.winner_list li  > label{display: inline-block; padding: 0 8px 0 0; margin: 0;}
		ul.winner_list li  > span{display: inline-block; padding: 0; margin: 0;}
		.box_animation{position: absolute; width: 576px; height: 600px;
    left: 31%;
    top:4%;}
		.animation_img{margin: 0 auto;
  		  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     	 border: 10px solid #d6dbde;
    	border-radius: 10px;
  		 }
		
		.close-btnn{    position: absolute;
    top: -17px;
    font-size: 28px;
    text-decoration: none;
    color: #b3b3b3;
    background: #fff;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    right: -30px;
    border: 4px solid #d6dbde;
    text-align: center;
    line-height: 34px;}

.lucky_draw{ background: #000000; width: 100%; margin: 0; padding: 0;}


    @media only screen and (max-width: 600px) {
      .box_animation {
    
    width: 90%;
    height: auto;
    left: 7px;
    box-sizing: border-box;
    top: 4%;
}
img{max-width: 100%;}

    }


    @media only screen and (max-width :768px){
        .Imgresolution{width:100%; height:auto;}
.celebration{ width: 100%;box-sizing: border-box;

}
.close_btn{    padding: 6px 11px;    font-size: 19px;}
}


.box_animation_bell{    width: 480px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  background: #f4f9fe;
  position: relative;
  border: 10px solid #ced8e2;
  border-radius: 10px;
  margin-top:2%;}
  .animation_img{
     }
  
  .close-btn_bell{  position: absolute;
  top: -17px;
  font-size: 28px;
  text-decoration: none;
  color: #83a0bd;
  background: #f4f9fe;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  right: -30px;
  border: 4px solid #ced8e2;
  text-align: center;
  line-height: 34px;}
  
  .content{    color: #0989a7;
  font-size: 18px;
  padding:10px 20px 20px 20px;
  margin: 0;}
  .supervisor_data{     display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;}
  ul.agent_list{ display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;}
  ul.agent_list li{ display: inline-block; text-align: left;
  width: 48%;
  padding: 0 5px 5px 0;
  margin: 0;
  color: #121f31;
  font-size: 13px;}